body {
  background: #eeeded;
}

#sidebar {
background: #fff;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
border-right: 1px solid rgba(255, 255, 255, 0);
overflow-y: auto;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #e0e0e0;
  margin-bottom: 2em;
}
input:focus 		{ outline:none; }

#-home- {}

#back_to_top, #edit {margin-left: 95%;} 


#content h1 {
  }


#content h2{
  background-color: #ee6e73;
  padding:1em;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(250,250,250,1);
  margin-bottom:1em;
  border-top: #fff;
  }


#content h3{
  background-color: #f3989b;
  padding:1em;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(250,250,250,1);
  margin-left: 2em;
  border-top: #fff;
}

#content h4{
  background-color: #f3989b;
  padding:1em;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(250,250,250,1);
  margin-left: 3em;
  border-top: #fff;
}





